@mixin card {
	padding: 3em;
	width: 375px;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin btn {
	margin: 2.5em 0;
	padding: 1.2em;
	width: 12em;
	border: 2px solid transparent;
	border-radius: 25px;
	letter-spacing: 0.5px;
	font-family: 'Lexend Deca', sans-serif;
}

@mixin btn-hover {
	border: 2px solid $transparent-white;
	color: $transparent-white;
	cursor: pointer;
}
